@keyframes slideLeft {
    from {
        left: 1.5rem;
    }

    to {
        right: 1.5rem;
    }
}

@keyframes slideRight {
    from {
        right: 1.5rem;
    }

    to {
        left: 1.5rem;
    }
}
