@font-face {
    font-family: 'Founders Grotesk';
    src: url('../fonts/FoundersGrotesk-Light.woff') format('woff'),
    url('../fonts/FoundersGrotesk-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('../fonts/FoundersGrotesk-Medium.woff') format('woff'),url('../fonts/FoundersGrotesk-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('../fonts/FoundersGrotesk-Regular.woff') format('woff'),url('../fonts/FoundersGrotesk-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
