@import 'fonts';

$white: #fff;
$light-gray: #eee;
$dark-gray: #333;
$black: #000;
$translucent-black: rgba(0, 0, 0, 0.5);
$transition-timing: 0.218s;

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background: url('../images/main-img.png') no-repeat center center fixed;
	background-size: cover;
	padding: 0;
	margin: 0;
	font-family: 'Founders Grotesk';
	font-weight: 300;

}

.background {
	display: none;
	background-color: $translucent-black;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

li {
	list-style-type: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
	font-size: 0.8125rem;
	line-height: 1rem;
	font-weight: 200;
}

.nav {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 100;
	height: 3.75rem;
	padding-left: 1.5rem;
	background: $black;

}

.nav-items {
	// display: none;
    background: white;
    position: absolute;
    width: 80%;
    top: 3.75rem;
    left: 0;
    margin-top: 0;
    padding: 0;

}

.nav-header {
	display: none;
}

.nav-item {
	transition: all $transition-timing ease;

	span {
		display: inline-block;
		padding: 0.75rem 1.5rem;

	}

	// &:hover {
	// 	background: $light-gray;
	// }

	> a {
		display: flex;
		width: 100%;
		height: 100%;
		font-size: 1.125rem;
		line-height: 1.5rem;

		&:hover {
			background: $light-gray;
		}
	}

	&.active {
		.nav-item-inner {
			display: block;
		}
	}
}

.nav-item-inner {
	display: none;
	transition: all $transition-timing ease;

	div {
		&:hover {
			background: $light-gray;
		}
	}
}

.footer {
	display: flex;
	justify-content: center;
	position: absolute;
 	right: 0;
 	bottom: 0;
  	left: 0;
  	min-height: 3.75rem;
 	padding: 0.5rem;
 	text-align: center;
 	background-color: #efefef;
}

.footer-content {
	display: flex;
	align-items: flex-end;
}

@media (min-width: 768px) {
	.nav {
		height: 4.5rem;
	}

	.nav-header {
		display: flex;
	}

	.nav-open {
		display: none;
	}

	a {
		font-size: 0.8125rem;
		line-height: 1rem;
	}

	.nav-items {
		display: flex;
		align-items: center;
		position: initial;
		height: 4.5rem;
		background: $black;
		margin-top: 1rem;
		padding-left: 2.5rem;

		ul {
		padding-left: 3rem;

		}


		p {
			font-size: 0.75rem;
		}
	}

	.nav-item {
		display: flex;
		align-items: center;
		position: relative;
		height: 100%;
		padding: 0;
		color: $light-gray;

		span {
			padding: 0 1.5rem;

		}

		a {
			padding: 0;
		}
		
		&.active {
			background: $white;
			color: $black;
		}

		> a {
			align-items: center;

			&:hover {
				background: $white;
				color: $black;
			}
		}


	}

	.nav-item-inner {
		position: absolute;
		top: 4.5rem;
		min-width: 160%;
		background: $white;

		div {
			padding: 0.75rem 0 0.75rem 1.5rem;
			color: $dark-gray;
		}
	}

	.footer-content {
		width: 60.5rem;
	}


}

