$white: #fff;
$light-gray: #eee;
$dark-gray: #333;
$black: #000;
$translucent-black: rgba(0, 0, 0, 0.5);
$transition-timing: 0.218s;

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background: url('../images/main-img.png') no-repeat center center fixed;
	background-size: cover;
	padding: 0;
	margin: 0;
	font-family: Founders Grotesk Regular;

}

.background {
	display: none;
	background-color: $translucent-black;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

li {
	list-style-type: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

.nav {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 100;
	height: 3.75rem;
	padding-left: 1.5rem;
	background: $black;

}

.nav-item {
	transition: all $transition-timing ease;

	&.active {
		.nav-item-inner {
			display: block;
		}
	}
}

.nav-items {
	display: none;
}

.nav-header {
	display: none;
}

.nav-item-inner {
	display: none;
	transition: all $transition-timing ease;
}

.footer {
	display: flex;
	justify-content: center;
	position: absolute;
 	right: 0;
 	bottom: 0;
  	left: 0;
  	min-height: 3.75rem;
 	padding: 0.5rem;
 	text-align: center;
 	background-color: #efefef;
}

.footer-content {
	display: flex;
	align-items: flex-end;
}

@media (min-width: 768px) {
	.nav {
		height: 4.5rem;
	}

	.nav-header {
		display: flex;
	}

	.nav-open {
		display: none;
	}

	.nav-items {
		display: flex;
		align-items: center;
		height: 4.5rem;
		background: $black;

		ul {
		padding-left: 3rem;

		}


		p {
			font-size: 0.75rem;
		}
	}

	.nav-item {
		display: flex;
		align-items: center;
		position: relative;
		height: 100%;
		color: $light-gray;

		span {
			padding: 0 1.5rem;

		}
		
		&:hover,
		&.active {
			background: $white;
			color: $black;
		}

		> a {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
		}


	}



	.nav-item-inner {
		position: absolute;
		top: 4.5rem;
		min-width: 160%;
		background: $white;

		div {
			padding: 0.75rem 0 0.75rem 1.5rem;
			color: $dark-gray;

			&:hover {
				background: $light-gray;
			}
		}
	}

	.footer-content {
		width: 60.5rem;
	}


}

