@font-face {
  font-family: 'Founders Grotesk';
  src: url("../fonts/FoundersGrotesk-Light.woff") format("woff"), url("../fonts/FoundersGrotesk-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Founders Grotesk';
  src: url("../fonts/FoundersGrotesk-Medium.woff") format("woff"), url("../fonts/FoundersGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Founders Grotesk';
  src: url("../fonts/FoundersGrotesk-Regular.woff") format("woff"), url("../fonts/FoundersGrotesk-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }
*, *:before, *:after {
  box-sizing: border-box; }

body {
  background: url("../images/office_2.png") no-repeat center center fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: 'Founders Grotesk'; }

li {
  list-style-type: none;
  cursor: pointer; }

a {
  text-decoration: none;
  color: inherit;
  font-size: 0.8125rem;
  font-weight: 200; }

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.callout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%; }
  .callout div {
    display: none;
    margin-bottom: 7.5rem; }
  .callout h1 {
    font-size: 7rem;
    margin: 0.625rem;
    color: #fff; }

.nav {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
  height: 3.75rem;
  padding-left: 1.5rem;
  background: #000; }

.nav-content {
  height: 100vh; }

.nav-items {
  background: white;
  position: absolute;
  width: 80%;
  top: 3.75rem;
  left: 0;
  margin-top: 0;
  padding: 0;
  transform: translateX(-100%); }
  .nav-items.animate {
    transition: transform 1.5s ease;
    transform: translateX(0%); }

@keyframes slideLeft {
  from {
    left: 1.5rem; }
  to {
    left: 93.5%;
    visibility: hidden; } }
@keyframes slideRight {
  from {
    right: 1.5rem; }
  to {
    right: 93.5%;
    visibility: hidden; } }
.nav-header {
  visibility: hidden; }

.nav-open {
  position: absolute;
  height: 24px;
  transition: all 1.5s ease; }
  .nav-open.animate {
    animation: slideLeft;
    animation-duration: 1.5s;
    opacity: 0; }

.nav-close {
  position: absolute;
  right: 1.5rem;
  transition: all 1.5s ease; }
  .nav-close.animate {
    animation: slideRight;
    animation-duration: 1.5s;
    opacity: 0; }

.nav-item {
  transition: all 0.218s ease; }
  .nav-item span {
    display: inline-block;
    padding: 0.75rem 1.5rem; }
  .nav-item > a {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 1.125rem; }
    .nav-item > a:hover {
      background: #eee; }
  .nav-item.active .nav-item-inner {
    display: block; }

.nav-item-inner {
  display: none;
  transition: all 0.218s ease; }
  .nav-item-inner div {
    display: flex;
    align-items: center;
    height: 1.5rem;
    padding-left: 1.5rem; }
    .nav-item-inner div:hover {
      background: #eee; }

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 3.75rem;
  padding: 0.5rem;
  text-align: center;
  background-color: #fff; }

.footer-content {
  display: flex;
  align-items: flex-end;
  font-size: 0.75rem;
  line-height: 1rem; }

.footer-callout {
  margin: 3.125rem 0; }
  .footer-callout h1 {
    font-size: 2.75rem;
    font-weight: 500;
    margin: 0.5rem; }

@media (min-width: 768px) {
  .nav {
    height: 4.5rem; }

  .nav-header {
    display: flex;
    visibility: initial; }

  .nav-open,
  .nav-close {
    display: none; }

  .nav-content {
    height: initial; }

  a {
    font-size: 0.8125rem; }

  .nav-items {
    display: flex;
    align-items: center;
    position: initial;
    height: 4.5rem;
    background: #000;
    margin-top: 1rem;
    padding-left: 2.5rem;
    transform: translateX(0%); }
    .nav-items ul {
      padding-left: 3rem; }
    .nav-items p {
      font-size: 0.75rem; }

  .nav-item {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 0;
    color: #eee; }
    .nav-item span {
      padding: 0 1.5rem; }
    .nav-item a {
      padding: 0; }
    .nav-item.active {
      background: #fff;
      color: #000; }
    .nav-item > a {
      align-items: center; }
      .nav-item > a:hover {
        background: #fff;
        color: #000; }

  .nav-item-inner {
    position: absolute;
    top: 4.5rem;
    min-width: 160%;
    background: #fff; }
    .nav-item-inner div {
      height: 2.5rem;
      padding: 0.75rem 0 0.75rem 1.5rem;
      color: #333; }

  .callout div {
    display: block; }

  .footer {
    height: initial; }

  .footer-content {
    max-width: 60.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0 auto; }

  .footer-callout {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
